<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Admin Panel | poko</title>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Sveltia CMS -->
    <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>
    <link
      href="/admin/config.json"
      type="application/json"
      rel="cms-config-url"
    />
    <script>
      CMS.registerEditorComponent({
        id: "partial",
        label: "Partial",
        icon: "brick",
        fields: [
          // TODO: Make relation widget work
          {
            name: "partialSlug",
            label: "Select Partial",
            widget: "relation",
            collection: "partials",
          },
        ],
        // Match example: {% include "book-btn.md" %}
        pattern: /^{% include "(.*?)\.md" %}$/ms,
        fromBlock: function (match) {
          return { partialSlug: match[1] };
        },
        toBlock: function (data) {
          return `{% include "${data.partialSlug}.md" %}`;
        },
        toPreview: function (data) {
          return `TEST`;
        },
      });
      CMS.registerEditorComponent({
        // Internal id of the component
        id: "collapsible-note",
        // Visible label
        label: "Collapsible Note",
        // Fields the user need to fill out when adding an instance of the component
        fields: [
          {
            name: "summary",
            label: "Summary",
            widget: "string",
          },
          {
            name: "contents",
            label: "Contents",
            widget: "markdown",
          },
        ],
        // Regex pattern used to search for instances of this block in the markdown document.
        // Patterns are run in a multiline environment (against the entire markdown document),
        // and so generally should make use of the multiline flag (`m`). If you need to capture
        // newlines in your capturing groups, you can either use something like
        // `([\S\s]*)`, or you can additionally enable the "dot all" flag (`s`),
        // which will cause `(.*)` to match newlines as well.
        //
        // Additionally, it's recommended that you use non-greedy capturing groups (e.g.
        // `(.*?)` vs `(.*)`), especially if matching against newline characters.
        pattern: /^<details><summary>(.*?)<\/summary>(.*?)<\/details>$/ms,
        // Given a RegExp Match object
        // (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match#return_value),
        // return an object with one property for each field defined in `fields`.
        //
        // This is used to populate the custom widget in the markdown editor in the CMS.
        fromBlock: function (match) {
          return {
            summary: match[1],
            contents: match[2],
          };
        },
        // Given an object with one property for each field defined in `fields`,
        // return the string you wish to be inserted into your markdown.
        //
        // This is used to serialize the data from the custom widget to the
        // markdown document
        toBlock: function (data) {
          return `<details><summary>${data.summary}</summary>${data.contents}</details>`;
        },
        // Preview output for this component. Can either be a string or a React component
        // (component gives better render performance)
        toPreview: function (data) {
          console.log("TO SUMMARY PREVIEW: ", { data });
          return `
        <details>
          <summary>${data.summary}</summary>
        
          ${data.contents}
        
        </details>
        `;
        },
      });

      CMS.registerEditorComponent({
        id: "test",
        label: "Test",
        fields: [{ name: "content", label: "Content", widget: "markdown" }],
        pattern: /^{% test %}\s*([\S\s]*?)\s*{% \/test %}$/ms,
        fromBlock: function (match) {
          return {
            content: match[1],
          };
        },
        toBlock: function (data) {
          return `{% test %}${data.content}{% /test %}`;
        },
        toPreview: function (data) {
          return `TEST`;
        },
      });

      CMS.registerEditorComponent({
        id: "Image",
        label: "Image",
        fields: [{ name: "src", label: "Image", widget: "image" }],
        pattern:
          /^{% Image src="([\S\s]*?)" alt="([\S\s]*?)" eleventy="([\S\s]*?)" %}\s*([\S\s]*?)\s*{% \/Image %}$/ms,
        // pattern: /^{% Image %}\s*([\S\s]*?)\s*{% \/Image %}$/ms,
        fromBlock: function (match) {
          console.log({ match });
          return {
            src: match[1],
            alt: match[2],
            eleventy: match[3],
          };
        },
        toBlock: function (data) {
          return `{% Image src="${data.src}" alt="Una Scelta" eleventy={widths:"300", "pictureattr:style": "display:block;width:300px;margin-inline: auto"} /%}`;
        },
        toPreview: function (data) {
          return `<img src="${data.src}" />`;
        },
      });

      CMS.registerEditorComponent({
        id: "callout",
        label: "Callout",
        fields: [{ name: "content", label: "Content", widget: "markdown" }],
        pattern: /^\{\% callout \%\}\s*([\S\s]*?)\s*\{\% \/callout \%\}$/m,
        fromBlock: function (match) {
          console.log({ match });
          return {
            content: match[1],
          };
        },
        toBlock: function (data) {
          console.log({ data });
          return `
{% callout %}
${data.content}
{% /callout %}
`;
        },
        toPreview: function (data) {
          return `
        <div style="border: 1px solid currentColor; padding: 10px;">
          ${data.content}
        </div>
        `;
        },
      });
    </script>
  </body>
</html>
