{% sectionTwoColumns class="homepage-hero palette-mocha bleed-bg pb-0 mb-0" %}
{% twoColumns type="fixedFluid", gap="0", class="px-0" %}
{% twoColumnsItem class="flow px-page py-section" %}
{% partial "mookai-logo-carre.njk", { style: 'width:9rem;height:auto;' } %}

## Changer le monde, c'est ton boulot. <br> Le faire savoir, c'est le nôtre.

On fait du **design** et du **web** pour les projets qui veulent faire **bouger les lignes** et qui veulent que ça s'entende.

<p class="cluster">
{% button url="services", class="cta" %}Nos services{% endbutton %}
{% button url="portfolio", class="cta" %}Nos projets{% endbutton %}
{% button url="contact", class="cta" %}On discute?{% endbutton %}
</p>

{% endtwoColumnsItem %}
{% twoColumnsItem class="home-hero-image-container container:home-hero-image-container" %}
{% image src="/_images/dscf1506.webp", alt="Tess et Marc travaillent à leur bureau" %}
{% endtwoColumnsItem %}
{% endtwoColumns %}

{% endsectionTwoColumns %}

<style>
main {
  padding-top: 0;
}
.homepage-hero {
    min-block-size: min(100vh, 30rem);
    order: -1;

  overflow-x: clip;
  --width-fixed: calc(32rem);
  --width-fluid-min: 50%;
}
.home-hero-image-container > img {
    block-size: 100%;
    max-block-size: 45rem;
    object-position: 0% 56%;

    inline-size: calc(50vw + var(--width-body) / 2 - var(--width-fixed) / 2);
    max-inline-size: none;
}
@container home-hero-image-container (width > 80vw) {
  .home-hero-image-container > img {
    aspect-ratio: 2.2;
    inline-size: 100%;
  }
}

</style>
