<figure class="review-card prose flow">
  {{ rawInput | md }}
  <figcaption>
    {% if reviewSignature %}
      {{ reviewSignature | renderContent("md") | safe }}
    {% endif %}
  </figcaption>
</figure>
{# <blockquote>
<p>J'ai eu la grande sagesse de choisir Tess comme graphiste. Je ne suis pas déçue. En un rendez-vous elle a compris qui j'étais, mon univers, mes souhaits de couleurs, mes envies... C'était simple, clair, professionnel, fluide, familiale avec sa touche créative et sa douceur. Je la recommande chaleureusement.</p>
<footer>— Marie-Laure Koeckx, <a href="https://luzienne.be/">Luzienne</a></footer>
</blockquote> #}
<style>
/*
.list-collection.reviews {
  columns: 25rem 2;
  column-gap: var(--step-0);
}
*/
.review-card {
  position: relative;
  overflow: visible;
  isolation: isolate;
}
.review-card blockquote {
  border: none;
  padding: 0;
}
.review-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.5em;
  left: -1.5em;
  display: block;
  width: 5em;
  height: 5em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 275.39 260.9' fill='%23731E15' fill-opacity='0.2'%3E%3Cpath d='M128.9,75.77c-95.23,70.26-9.88,141.5-33.27,173.81-8.61,11.89-37.25,15.28-51.65,5.94C-32.15,206.14-4.96,61.32,91.02,4.68c19.94-11.77,48.09.27,56.76,18.26,8.7,18.05-.99,39.64-18.88,52.84Z'/%3E%3Cpath d='M257.73,87.85c-78.05,69.74-8.55,120.75-32.33,151.2-11.3,14.48-37.01,16.93-53.43,6.25-63.33-41.19-34.6-164.36,35.82-221.32,16.61-13.43,46.66-9.89,58.66,4.71,14.46,17.58,11.26,41.31-8.72,59.16Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
/*
.review-card {
  margin-inline: auto;
  max-inline-size: 25em;
  background-color: transparent;
}

*/
</style>