<figure class="review-card prose card flow palette--pop">
  {{ rawInput | md }}
  <figcaption>
  {% if personName %}{{ personName | renderContent("md") | safe }}{% endif %}
  </figcaption>
</figure>

{# <blockquote>
<p>J'ai eu la grande sagesse de choisir Tess comme graphiste. Je ne suis pas déçue. En un rendez-vous elle a compris qui j'étais, mon univers, mes souhaits de couleurs, mes envies... C'était simple, clair, professionnel, fluide, familiale avec sa touche créative et sa douceur. Je la recommande chaleureusement.</p>
<footer>— Marie-Laure Koeckx, <a href="https://luzienne.be/">Luzienne</a></footer>
</blockquote> #}