<!doctype html>
<html lang="{{lang or 'en'}}" class="no-js {{pageClass or 'palette-main'}}">
  <head>
    {% partial "_html-head-default.md" %} {% getBundle "html", "head" %}
  </head>
  <body>
    
    <!-- Content -->
    {% partial "_main-content.md" %}
    <!-- Footer -->
    {% partial "headless/page-footer.11ty.js" %}
    {% partial "_page-footer.njk" %}

  </body>
</html>
