<div class="footer-group">
<footer class="switcher palette--tone text-left">
    <div class="switcher">
        <div style="padding-inline-start: 1em;">
            <p style="color: var(--color-pop);">{% icon "tablerOutline:arrow-narrow-right", { "width": "1em", "height": "1em", "style": "margin-inline-start: -1em; margin-inline-end: 0.25em; vertical-align: middle;" } %}Resources</p>
            <nav class="small">
                <ul class="reset">
                    <li>
                        {% link url="docs", type="internal", collection="pages" %}Documentation{% endlink %}
                    </li>
                    <li>
                        {% link url="showcase", type="internal", collection="pages" %}Showcase{% endlink %}
                    </li>
                    <li>
                        {% link url="https://github.com/m4rrc0/poko-website-builder", type="external", target="_blank", rel="noopener" %}Github{% endlink %}
                    </li>
                    <li>
                        {% link url="https://github.com/m4rrc0/poko-website-builder/issues", type="external", target="_blank", rel="noopener" %}Report Bug{% endlink %}
                    </li>
                </ul>
            </nav>
        </div>
        <div style="padding-inline-start: 1em;">
            <p style="color: var(--color-pop);">{% icon "tablerOutline:arrow-narrow-right", { "width": "1em", "height": "1em", "style": "margin-inline-start: -1em; margin-inline-end: 0.25em; vertical-align: middle;" } %}Product</p>
            <nav class="small">
                <ul class="reset">
                    <li>
                        {% link url="showcase", type="internal", collection="pages" %}License{% endlink %}
                    </li>
                    <li>
                        {% link url="showcase", type="internal", collection="pages" %}Pricing{% endlink %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="switcher">
        <div style="padding-inline-start: 1em;">
            <p style="color: var(--color-pop);">{% icon "tablerOutline:arrow-narrow-right", { "width": "1em", "height": "1em", "style": "margin-inline-start: -1em; margin-inline-end: 0.25em; vertical-align: middle;" } %}Company</p>
            <add class="small"ress>
                <ul class="reset">
                    <li>BE 1003.532.405</li>
                    <li>47/2, avenue Armand Huysmans</li>
                    <li>1050 Bruxelles</li>
                    <li>Belgique</li>
                </ul>
            </add>
        </div>
        <div style="padding-inline-start: 1em;">
            <p style="color: var(--color-pop);">{% icon "tablerOutline:arrow-narrow-right", { "width": "1em", "height": "1em", "style": "margin-inline-start: -1em; margin-inline-end: 0.25em; vertical-align: middle;" } %}Contact</p>
            <nav class="small">
                <ul class="reset">
                    <li>
                        {% link url="showcase", type="internal", collection="pages" %}FAQ{% endlink %}
                    </li>
                    <li>
                        {% link url="hello@poko.com", type="mailto", target="_blank", rel="noopener" %}hello@poko.com{% endlink %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
{%partial "label-footer.njk" %}
</div>
