{% set navPages = collections.all | filterCollection([{ by: 'lang', value:
lang }, { by: 'parent', value: '' }]) | eleventyNavigation %}

{% if navPages | length %}

<header class="bleed-bg full-bleed">
    <nav id="main-nav" class="cluster">
    <!-- Main pages navigation -->
    <ul role="list" class="cluster">
        <li id="logo-item">
          <a href="/" id="logo-mookai" aria-label="Acceuil">
            {% partial "mookai-logo-cc.njk" %}
          </a>
        </li>
        {% for link in navPages %}
        <li>
        {# prettier-ignore #}
        <a
            href="{{link.url}}"
            hreflang="{{link.lang}}"
            {% if link.url == page.url %}aria-current="page"{% endif %}
            >{{link.title}}</a
        >
        </li>
        {% endfor %}
    </ul>

    <!-- Language navigation -->
    {% if page.url | locale_links | length %}
    <ul role="list" id="lang-nav" class="flex flex-nowrap gap-[--step--2] m0">
        {% for link in page.url | locale_links("all") %}
        <li>
        <a
            href="{{link.url}}"
            hreflang="{{link.lang}}"
            aria-current="{{ 'page' if link.lang === page.lang else 'false' }}"
            ><abbr lang="{{link.lang}}" title="{{link.label}}"
            >{{link.lang | upper}}</abbr></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </nav>
</header>
{% css %}
:root {
 --gap-cover: 1em;

}
:where(body > :where(header, footer, main, aside)) {
    padding: var(--gap-cover, 1em);
}
header:has(#main-nav) {
    background-color: inherit;
    color: inherit;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-block: var(--step--2);
}
#main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-inline-size: var(--width-max);
    margin-inline: auto;
    padding-inline: var(--gap-cover, 1em);
}

#logo-item {
    margin-inline-end: auto;
}

#logo-mookai {
    display: block;
    width: var(--step-9);
    max-width: var(--step-9);
}

#logo-mookai svg {
    width: 100%;
    height: auto;
    stroke: none;
}

#logo-mookai svg .cls-1 {
    fill: var(--color-fg-theme);
}


#main-nav ul{
    margin-block-start: 0;
    width: 100%;
    justify-content: flex-end;
    row-gap: .25em;

}

#main-nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: var(--color-text);
    font-size: var(--step--1);
}

#main-nav a[aria-current="page"] {
    color: var(--color-pop);
    font-weight: 700;


}
{% endcss %}
{% endif %}
