<section class="cover">
    {% partial "_main-nav.njk" %}

<div class="hero-homepage width-prose flow">
<h1 class="h0">
<span style="font-style: italic;">poko</span> is a lightweight, eco-focused, powerful, hackable website builder for the people
</h1>

{% link url="showcase", type="internal", collection="pages", class="cta" %}Showcase{% endlink %}

</div>
<a href="#why-poko" class="scroll pile">
  {% icon "tablerOutline:arrow-narrow-down", { "width": "64", "height": "64", "stroke-width": "1" } %}
</a>
</section>