<aside class="poko-label full-bleed breakout-clickable">
    <div class="width-max">
        <div class="logo-container cluster">
            <a href="https://www.poko.eco/" target="_blank" rel="noopener" class="logo-poko">
                {% partial "poko-logo-cc.njk" %}
            </a>
            <p>
                Built by <a href="https://www.mookai.be/" target="_blank" rel="noopener">mookaï</a> with <a href="https://www.poko.eco/" target="_blank" rel="noopener" class="palette--pop clickable">poko</a>, an independent website builder fighting for a more ethical web
            </p>
        </div>
        <p>
        Cleaner than 99% of pages tested on <a href="https://www.websitecarbon.com/" target="_blank" rel="noopener">
            Website Carbon
        </a>
        </p>
        

    </div>
</aside>