<article class="featured-work breakout-clickable">

    {%- set _folderImages = ("_images/" + page.fileSlug + "/*") | glob %}
    {%- set _folderFirstImage = ("/" + (_folderImages | sort)[0]) if (_folderImages and _folderImages.length) else null %}
    {%- set firstImage = pagePreview.image.src if (pagePreview and pagePreview.image) else (metadata.image.src if metadata.image else _folderFirstImage) %}
    {%- if firstImage %}
    <div class="featured-work-image">
        {% image src=firstImage, alt="{{ name }}" %}
    </div>
    {%- endif %}

    <div class="featured-work-content flow" aria-hidden="true">
        <a href="{{ url | locale_url }}" aria-label="{{ name }}" class="clickable"><h3 class="p">{{ name }}</h3></a>
    </div>

</article>
