<style>
:where(main > blockquote),
:where(main > section > blockquote) {
  padding-inline-start: 0;
  border: none;
  text-align: center;
  padding-block: var(--py-section);


  & .quote {
    font-family: "Emoji", "Chantal", cursive, sans-serif;
  }
}
</style>
