<div
  class="cover {{ "no-padding" if noPadding or '' }} {{ class }}"
  style="--gap-cover: {{gap or '1em'}}; {{ '--min-height-cover:' + minHeight + ';' if minHeight or '' }}"
>
{% for block in blocks %} {% if block.type == "markdown" %}
{{ block.value | renderContent("njk,md", { languages: languages, collections: collections }) | safe }}
{% endif %} {% if block.type == "image" %}
<img {{ block | htmlImgAttrs({ type: null, class: 'block-image ' + (block.class or '') }) }} />
{% endif %} {% endfor %}
</div>
