<div
  class="fixed-fluid {{ 'fixed-right' if fixedRight or '' }} {{ class }}"
  style="--width-fixed: {{widthFixed or 'calc(var(--width-prose, 50rem) / 2.5)'}}; --width-fluid-min: {{widthFluidMin or '50%'}}; --gap-fixed-fluid: {{gap or '1em'}}"
>
  {% for block in blocks %} {% if block.type == "markdown" %}
  <div class="block-markdown {{ block.class }}">
    {{ block.value | renderContent("njk,md", { languages: languages, collections: collections }) | safe }}
  </div>
  {% endif %} {% if block.type == "image" %} <img
  {{ block | htmlImgAttrs({ type: null, class: 'block-image ' + (block.class or '') }) }}
  /> {% endif %} {% endfor %}
</div>
